$awesome-aqua: #24ffce;
$body-background: #7f5a83;
$header: #0d324d;
$header-letters: #b59875;

@import 'footer';
@import url('https://fonts.googleapis.com/css?family=Chicle');

body {
  margin: 0;
  padding: 0;
  font-family: 'Chicle', cursive;
  background-color: $body-background;
  letter-spacing: 3px;
}

main {
  display: flex;
  justify-content: space-around;
  width: 600px;
  border: 1px solid #404e4d;
  margin: 5rem auto 20rem auto;
  background-color: #b59875;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #b59875;
  font-size: 4rem;
  margin: 0;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
  line-height: 30px;
  color: #0d324d;
  font-size: 1.5rem;
  text-decoration: underline;
}

p {
  padding-left: 10px;
}

input[type='range'] {
  width: 20rem;
  -webkit-appearance: none;
  background: transparent;
  margin-bottom: 1rem;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid $awesome-aqua;
  height: 1.5rem;
  width: 0.8rem;
  margin-top: -3.5%;
  border-radius: 3px;
  background-color: $awesome-aqua;
  cursor: pointer;
  box-shadow: 0px 0.5px 5px $body-background;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  border: 1px solid $awesome-aqua;
  height: 1.5rem;
  width: 0.8rem;
  border-radius: 3px;
  background-color: $awesome-aqua;
  cursor: pointer;
  box-shadow: 0px 0.5px 5px $body-background;
}

input[type='range']::-ms-thumb {
  -webkit-appearance: none;
  border: 1px solid $awesome-aqua;
  height: 1.5rem;
  width: 0.8rem;
  border-radius: 3px;
  background-color: $awesome-aqua;
  cursor: pointer;
  box-shadow: 0px 0.5px 5px $body-background;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-ms-track {
  width: 300px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  height: 0.4rem;
  border-radius: 0.2rem;
  border: 0.3px solid $body-background;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 300px;
  cursor: pointer;
  background: $header;
  border-color: transparent;
  color: transparent;
  height: 0.3rem;
  border-radius: 0.2rem;
  border: 1px solid $body-background;
}

input[type='range']::-moz-range-track {
  width: 300px;
  height: 0.2rem;
  cursor: pointer;
  border: 0.3px solid $body-background;
  background: $header;
  border-color: transparent;
  color: transparent;
  border-radius: 0.2rem;
}

.header {
  background-color: $header;
  margin: 0;
  padding: 2rem 0;
}

.hslValue {
  margin: 10px 0;
}

.values {
  padding-top: 50px;
  color: #404e4d;
}

.color-window {
  border: 10px solid $header;
  height: 125px;
  width: 125px;
  margin: 0 auto;
}

.hsl {
  margin: 0;
}

@media (max-width: 700px) {
  main {
    width: 20rem;
    display: block;
    margin-bottom: 5rem;
  }

  input[type='range'] {
    width: 15rem;
  }

  input[type='range']::-webkit-slider-thumb {
    margin-top: -4.2%;
  }

  aside {
    margin: 0;
    height: 200px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  div.color-window {
    margin: 0 auto;
    height: 100px;
    text-align: center;
  }

  div.values {
    margin: 0;
    padding: 0;
  }

  li {
    height: 100px;
    margin: 0 auto;
  }

  p {
    text-align: center;
    margin: 0;
  }

  .values {
    margin: 0;
    text-align: center;
  }
}
